In [1]:
# imports
import requests
from bs4 import BeautifulSoup

import pandas as pd

In [2]:
link = 'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/1'
response = requests.get(link)
soup = BeautifulSoup(response.text, 'html.parser')
columns = [column.text for column in soup.find_all('th')]
columns

['Rank',
 'Major',
 'Degree Type',
 'Early Career Pay',
 'Mid-Career Pay',
 '% High Meaning']

In [3]:
def clean_row(row):
    text = row.split(':')[-1]
    if text.startswith('$'):
        return int(text.replace(',', '')[1:])
    if row.endswith('%'):
        return int(text[:-1])
    return text

rows = [[clean_row(row.text) for row in body.find_all('td')] for body in soup.find('tbody').find_all('tr')]
rows

[['1', 'Petroleum Engineering', 'Bachelors', 92300, 182000, 69],
 ['2',
  'Electrical Engineering & Computer Science (EECS)',
  'Bachelors',
  101200,
  152300,
  46],
 ['3', 'Applied Economics and Management', 'Bachelors', 60900, 139600, 67],
 ['3', 'Operations Research', 'Bachelors', 78400, 139600, 52],
 ['5', 'Public Accounting', 'Bachelors', 60000, 138800, 49],
 ['6',
  'Chemical Engineering/Materials Science & Engineering',
  'Bachelors',
  74500,
  137800,
  60],
 ['7', 'Quantitative Business Analysis', 'Bachelors', 67900, 136200, 55],
 ['8', 'Pharmacy', 'Bachelors', 66300, 133200, 79],
 ['9', 'Aeronautics & Astronautics', 'Bachelors', 74000, 133100, 60],
 ['10', 'Systems Engineering', 'Bachelors', 74000, 132900, 54],
 ['11', 'Electrical Power Engineering', 'Bachelors', 73100, 130700, 67],
 ['12', 'Actuarial Mathematics', 'Bachelors', 61900, 130500, 50],
 ['13', 'Aerospace Studies', 'Bachelors', 50300, 130300, '-'],
 ['14', 'Chemical Engineering', 'Bachelors', 73500, 128900, 56],
 ['15', 'Actuarial Science', 'Bachelors', 64700, 128700, 42],
 ['16', 'Information & Computer Science', 'Bachelors', 70300, 127600, 60],
 ['17', 'Aeronautical Engineering', 'Bachelors', 71600, 125900, 64],
 ['18',
  'Operations & Information Systems Management',
  'Bachelors',
  63800,
  125100,
  31],
 ['18', 'Political Economy', 'Bachelors', 58200, 125100, 34],
 ['20', 'Marine Engineering', 'Bachelors', 74700, 125000, 64],
 ['21', 'Computer Systems Engineering', 'Bachelors', 74600, 124800, 49],
 ['22', 'Nuclear Engineering', 'Bachelors', 73100, 124500, 63],
 ['23', 'Computer Science (CS) & Engineering', 'Bachelors', 74000, 124000, 44],
 ['24', 'Corporate Accounting & Finance', 'Bachelors', 61200, 123600, 57],
 ['25',
  'Electrical & Computer Engineering (ECE)',
  'Bachelors',
  73900,
  123300,
  49]]